<div class="caseStudyIntro">
       <div class="caseImage"> <!--style="background-image:url({{image}})"-->
           <!-- <img src="{{image}}" alt="{{alt}}"/>-->
        </div>
        <div class="caseStudyIntroRaisedTitle">
            <h1 class="caseDescription">{{description}}</h1>
            <div class="caseClient">{{client}}</div>
        </div>
    </div>