<div class="portfolioCard">
    <a href="{{link}}">
        <img src="{{imgLink}}" alt="" class="cardImage">
        <div class="raisedCard">
            <div class="cardClient">{{client}}</div>
            <div class="cardDescription">{{description}}</div>
            <div class="cardLongDesc">{{longDescription}}</div>
        </div>
    </a>
</div>