<div class="portfolioCard">
    <a href="{{link}}">
        <div class="cardImageWrap">
            {{#if imgLink}}
                <img src="{{imgLink}}" alt="" class="cardImage">
            {{/if}}
        </div>
        <div class="cardBody">
            <div class="cardEyebrow">{{number}} / {{client}}</div>
            <h3 class="cardDescription">{{description}}</h3>
            <p class="cardLongDesc">{{longDescription}}</p>
        </div>
    </a>
</div>
